<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>成为合伙人</title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 pdh30 fs28 text-color">
                    填写合伙人基本信息
                </div>
                <div class="col-xs-12 bg-eeefef pdh30 fs28">
                    <span>店铺名</span>
                    <input type="text" class="pd28 mgh15 border-radius border-a border-adc8db w-100 fs24" placeholder="店铺名">
                    <span>店铺所在地</span>
                    <select class="pd28 w-100 border-a border-adc8db border-radius mgh15">
                        <option>选择省份</option>
                    </select>
                    <select class="pd28 w-100 border-a border-adc8db border-radius mgh15">
                        <option>选择城市</option>
                    </select>
                    <select class="pd28 w-100 border-a border-adc8db border-radius mgh15">
                        <option>选择县区</option>
                    </select>
                </div>
                <div class="col-xs-12">
                    <a href="#" class="col-xs-12 btn-21a2fe pdh25 fs32 bold border-radius mgh25 text-center">提交</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('html,body').css('background-color','#fff');
        });
    </script>
</body>
</html>