<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>成为合伙人</title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-color text-center pdh30 fs32">
                    <img class="mgr20" src="../../Public/images/part_img1.png" style="width:0.916rem;"/>合伙人特权
                </div>
                <div class="col-xs-12 text-white bg-eeefef pdh40 fs24">
                    <div class="pdh30 pdw50 border-radius" style="background:linear-gradient(to right, #36b1ff 0%,#3e82ff 100%)">
                        <img class="pull-left" style="width:1.542rem; margin:1.35rem 1rem 0 0;" src="../../Public/images/part_img2.png"/>
                        <div>
                            <h2 class="fs32 bold">开店0门槛</h2>
                            <p>免费开店，一键推广，无需囤货，一件代发，自动结算，坐等收钱！</p>
                        </div>
                    </div>
                    <div class="pdh30 pdw50 border-radius mgh30" style="background:linear-gradient(to right, #ff9157 0%,#ffb757 100%)">
                        <img class="pull-left" style="width:1.542rem; margin:1.35rem 1rem 0 0;" src="../../Public/images/part_img3.png"/>
                        <div>
                            <h2 class="fs32 bold">货源有保障</h2>
                            <p>深入原产地直达县域，厂家直销，品质保证，分销佣金丰厚！</p>
                        </div>
                    </div>
                    <div class="pdh30 pdw50 border-radius" style="background:linear-gradient(to right, #ff5d9f 0%,#ff5ecc 100%)">
                        <img class="pull-left" style="width:1.542rem; margin:1.4rem 1rem 0 0;" src="../../Public/images/part_img4.png"/>
                        <div>
                            <h2 class="fs32 bold">一对一指导</h2>
                            <p>手把手教您成交订单，给你专业知识培训，朋友圈素材免费提供，小白也能开店赚钱！</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <a href="#" class="col-xs-12 btn-21a2fe pdh25 fs32 bold border-radius mgh25 text-center">成为合伙人</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('html,body').css('background-color','#fff');
        })
    </script>
</body>
</html>