<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/javascript/common/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/swiper/swiper.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page">
        <!--addWrap -->
        <div class="addWrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../Public/images/Carousel.png" style="width:100%; height:5.416rem"></div>
                    <div class="swiper-slide"><img src="../../Public/images/Carousel.png" style="width:100%; height:5.416rem"></div>
                    <div class="swiper-slide"><img src="../../Public/images/Carousel.png" style="width:100%; height:5.416rem"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--/addWrap-->
        <div class="container-fluid">
            <div class="row weui-cells nmt lh1">
                <div class="weui-cell">
                    <div class="pull-left">
                        <img src="../../Public/images/shop_img2.png" style="width:2.875rem">
                    </div>
                    <div class="pull-left npr pdl20" style="height:2.916rem;width:8.333rem;">
                        <p class="fs32 text-333333">美眉食品旗舰店</p>
                        <p>
                            <img src="../../Public/images/shop_ico_approve.png" alt="" style="width:2.5rem">
                        </p>
                        <p class="fs24 npb text-muted pdt15">代理返点5%</p>
                    </div>
                    <div class="pull-left" style="height:2.916rem;width:2.812rem">
                        <p class="text-right">
                            <a href="tel:12321302"><img src="../../Public/images/ico_tel.png" style="width:0.85rem" alt=""></a>
                        </p>
                        <p class="fs24 nmb pull-right" style="margin-top: 0.729rem;">
                            <a href="申请商品_申请代理.html" title="" class="img-rounded text-center btn-21a2fe pdh20 pdw15">我要代理</a>
                        </p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="pull-left">
                        <img src="../../Public/images/shop_img2.png" style="width:2.875rem">
                    </div>
                    <div class="pull-left npr pdl20" style="height:2.916rem;width:8.333rem;">
                        <p class="fs32 text-333333">美眉食品旗舰店</p>
                        <p>
                            <img src="../../Public/images/shop_ico_approve.png" alt="" style="width:2.5rem">
                        </p>
                        <p class="fs24 npb text-muted pdt15">代理返点5%</p>
                    </div>
                    <div class="pull-left" style="height:2.916rem;width:2.812rem">
                        <p class="text-right">
                            <a href="tel:12321302"><img src="../../Public/images/ico_tel.png" style="width:0.85rem" alt=""></a>
                        </p>
                        <p class="fs24 nmb pull-right" style="margin-top: 0.729rem;">
                            <a href="申请商品_申请代理.html" title="" class="img-rounded text-center btn-21a2fe pdh20 pdw15">我要代理</a>
                        </p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="pull-left">
                        <img src="../../Public/images/shop_img2.png" style="width:2.875rem">
                    </div>
                    <div class="pull-left npr pdl20" style="height:2.916rem;width:8.333rem;">
                        <p class="fs32 text-333333">美眉食品旗舰店</p>
                        <p>
                            <img src="../../Public/images/shop_ico_approve.png" alt="" style="width:2.5rem">
                        </p>
                        <p class="fs24 npb text-muted pdt15">代理返点5%</p>
                    </div>
                    <div class="pull-left" style="height:2.916rem;width:2.812rem">
                        <p class="text-right">
                            <a href="tel:12321302"><img src="../../Public/images/ico_tel.png" style="width:0.85rem" alt=""></a>
                        </p>
                        <p class="fs24 nmb pull-right" style="margin-top: 0.729rem;">
                            <a href="申请商品_申请代理.html" title="" class="img-rounded text-center btn-21a2fe pdh20 pdw15">我要代理</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 轮播
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });
    </script>
</body>
</html>