<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>注册</title>
    <link rel="stylesheet" href="../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../Public/style/common/common.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <script src="../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page pdh25" data-color="#21a2fe">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 fs24">
                    <div class="pdh10">
                        <input type="text" class="no-border border-radius w-100 pd30" placeholder="请输入手机号码"/>
                    </div>
                    <div class="pdh10 overhide">
                        <div class="col-xs-8 pd0">
                            <input type="text" class="no-border border-radius pd30" style="width:95%;" placeholder="请输入手机验证码"/>
                        </div>
                        <div class="col-xs-4 pd0 pull-right">
                            <input type="button" class="btn btn-white no-border border-radius w-100 pd30 fs24" value="获取验证码"/>
                        </div>
                    </div>
                    <div class="pdh10">
                        <input type="text" class="no-border border-radius w-100 pd30" placeholder="设置6-20位登陆密码，仅限字母和数字"/>
                    </div>
                    <div class="pdh10">
                        <input type="text" class="no-border border-radius w-100 pd30" placeholder="请再次输入密码"/>
                    </div>
                    <div class="pdh10">
                        <div class="input-switch_reg pull-left mgr10">
                            <input type="checkbox" id="c-1"/>
                        </div>
                        <label for="c-1" class="text-white nw mgb0">我已经阅读同意<span class="text-ffcf5d">用户注册协议</span>条款</label>
                    </div>
                    <div class="pdh20 text-center">
                        <a href="#" class="col-xs-12 btn-a1d8ff pdh25 fs32 bold border-radius">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>