<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>登录</title>
    <link rel="stylesheet" href="../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../Public/style/common/common.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <script src="../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page pdh25" data-color="#21a2fe">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 fs24">
                    <div class="pdh10 re">
                        <img class="abs" src="../Public/images/ico_login_phone.png" style="width:0.433rem; top:0.9rem; left:0.4rem;"/>
                        <input type="text" class="no-border border-radius w-100 pd30 pdl60" placeholder="请输入手机号码"/>
                    </div>
                    <div class="pdh10 re">
                        <img class="abs" src="../Public/images/ico_login_pwd.png" style="width:0.433rem; top:0.9rem; left:0.4rem;"/>
                        <input type="text" class="no-border border-radius w-100 pd30 pdl60" placeholder="请输入密码"/>
                    </div>
                    <div class="pdh20">
                        <a href="#" class="col-xs-12 btn-white pdh25 fs32 bold border-radius mgh25 text-center">登录</a>
                    </div>
                    <div class="pdh20 text-white text-center">
                        ------------------其他登录方式------------------
                    </div>
                    <div class="pdh10">
                        <a href="#" class="col-xs-12 btn-87e3bd pdh25 fs32 bold border-radius text-center">
                            <img src="../Public/images/ico_login_wx.png" class="mgr20" style="width:0.791rem;"/>微信登录
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="maxWidth container-fluid footer-nav navbar-fixed-bottom weui-flex text-center" style="bottom:0.5rem;">
            <a href="#" class="weui-flex__item text-white fs28 border-r pdh20" style="border-color:#fff;">
                <img src="../Public/images/ico_login_pwd1.png" class="mgr20" style="width:0.563rem;"/>
                找回密码
            </a>
            <a href="#" class="weui-flex__item text-white fs28 pdh20">
                <img src="../Public/images/ico_login_register.png" class="mgr20" style="width:0.75rem;"/>
                快速注册
            </a>
        </div>
    </div>
</body>
</html>