<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>选择页面</title>
    <link rel="stylesheet" href="../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../Public/style/common/common.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <script src="../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page">
        <div class="maxWidth container-fluid navbar-header navbar-fixed-top bg-white pdh10">
            <div class="pull-left">
                <img class="border-radius50" src="../Public/images/shop_img2.png" style="width:0.937rem;height:0.937rem;"/>
                <span class="fs28">Marico的梦工厂</span>
            </div>
            <div class="pull-right">
                <a href="#" class="pdw25"><img src="../Public/images/icon_btn_search.png" style="width:0.625rem;margin-top:-0.1rem;"/></a>
                <!--↓购物车有商品就添加样式s-car↓-->
                <a href="#" class="text-e44a62 fs24 pdl30 border-l re s-car"><img src="../Public/images/icon_shopCar.png" style="width:0.625rem;margin-top:-0.1rem;"/></a>
            </div>
        </div>
        <div class="container-fluid mgt80 pdb150">
            <div class="row bg-white mgb20 d-lBox">
                <div class="col-xs-12 border-b">
                    <div class="pdh20">
                        <div class="btn-group dropup d-btn">
                            <a href="#" class="fs28">
                                我创建的团队
                                <span class="caret"></span>
                            </a>
                        </div>
                        <a href="#" class="pull-right fs24 text-999999 pdh5">更多</a>
                    </div>
                </div>
                <div class="d-list col-xs-12 pdw0">
                    <div class="col-xs-12 pdh20 border-b">
                        <img class="pull-left mgr15 img-circle" src="../Public/images/shop_img2.png" style="width:2.708rem;height:2.708rem;"/>
                        <div class="re">
                            <p class="fs32 bold">天下果园水果军团</p>
                            <p class="pdh5">
                                成员：<span class="pdr25">239</span>
                                话题：<span>12</span>
                            </p>
                            <p class="fs24 npb text-muted ellipsis">一群正能量的创业伙伴，一个温馨的团队</p>
                            <a href="团队内页/我创建的团队.html" class="btn-21a2fe fs24 pd10 abs r-0 t-0 img-rounded">立即加入</a>
                        </div>
                    </div>
                    <div class="col-xs-12 pdh20 border-b ">
                        <img class="pull-left mgr15 img-circle" src="../Public/images/shop_img2.png" style="width:2.708rem;height:2.708rem;"/>
                        <div class="re">
                            <p class="fs32 bold">天下果园水果军团</p>
                            <p class="pdh5">
                                成员：<span class="pdr25">239</span>
                                话题：<span>12</span>
                            </p>
                            <p class="fs24 npb text-muted ellipsis">一群正能量的创业伙伴，一个温馨的团队</p>
                            <a href="#" class="btn-999999 fs24 pdw20 pdh10 abs r-0 t-0 img-rounded">申请中</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white mgb20 d-lBox">
                <div class="col-xs-12 border-b">
                    <div class="pdh20">
                        <div class="btn-group dropup d-btn">
                            <a href="#" class="fs28">
                                未加入的团队
                                <span class="caret"></span>
                            </a>
                        </div>
                        <a href="#" class="pull-right fs24 text-999999 pdh5">更多</a>
                    </div>
                </div>

                <div class="d-list col-xs-12 pdw0">
                    <div class="col-xs-12 pdh20 border-b">
                        <img class="pull-left mgr15 img-circle" src="../Public/images/shop_img2.png" style="width:2.708rem;height:2.708rem;"/>
                        <div class="re">
                            <p class="fs32 bold">天下果园水果军团</p>
                            <p class="pdh5">
                                成员：<span class="pdr25">239</span>
                                话题：<span>12</span>
                            </p>
                            <p class="fs24 npb text-muted ellipsis">一群正能量的创业伙伴，一个温馨的团队</p>
                            <a href="团队内页/未加入的团队.html" class="btn-21a2fe pd10 fs24 abs r-0 t-0 img-rounded">立即加入</a>
                        </div>
                    </div>
                    <div class="col-xs-12 pdh20 border-b ">
                        <img class="pull-left mgr15 img-circle" src="../Public/images/shop_img2.png" style="width:2.708rem;height:2.708rem;"/>
                        <div class="re">
                            <p class="fs32 bold">天下果园水果军团</p>
                            <p class="pdh5">
                                成员：<span class="pdr25">239</span>
                                话题：<span>12</span>
                            </p>
                            <p class="fs24 npb text-muted ellipsis">一群正能量的创业伙伴，一个温馨的团队</p>
                            <a href="#" class="btn-999999 fs24 pdw20 pdh10 abs r-0 t-0 img-rounded">申请中</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white mgb20 d-lBox">
                <div class="col-xs-12 border-b">
                    <div class="pdh20">
                        <div class="btn-group dropup d-btn">
                            <a href="#" class="fs28">
                                已加入的团队
                                <span class="caret"></span>
                            </a>
                        </div>
                        <a href="#" class="pull-right fs24 text-999999 pdh5">更多</a>
                    </div>
                </div>

                <div class="d-list col-xs-12 pdw0">
                    <div class="col-xs-12 pdh20 border-b">
                        <img class="pull-left mgr15 img-circle" src="../Public/images/shop_img2.png" style="width:2.708rem;height:2.708rem;"/>
                        <div class="re">
                            <p class="fs32 bold">天下果园水果军团</p>
                            <p class="pdh5">
                                成员：<span class="pdr25">239</span>
                                话题：<span>12</span>
                            </p>
                            <p class="fs24 npb text-muted ellipsis">一群正能量的创业伙伴，一个温馨的团队</p>
                            <a href="团队内页/已加入的团队.html" class="btn-21a2fe fs24 pd10 abs r-0 t-0 img-rounded">立即加入</a>
                        </div>
                    </div>
                    <div class="col-xs-12 pdh20 border-b ">
                        <img class="pull-left mgr15 img-circle" src="../Public/images/shop_img2.png" style="width:2.708rem;height:2.708rem;"/>
                        <div class="re">
                            <p class="fs32 bold">天下果园水果军团</p>
                            <p class="pdh5">
                                成员：<span class="pdr25">239</span>
                                话题：<span>12</span>
                            </p>
                            <p class="fs24 npb text-muted ellipsis">一群正能量的创业伙伴，一个温馨的团队</p>
                            <a href="#" class="btn-999999 fs24 pdw20 pdh10 abs r-0 t-0 img-rounded">申请中</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid navbar-fixed-bottom maxWidth bg-eeefef">
            <div class="col-xs-12 pdh25">
                <a href="#" class="btn-21a2fe fs28 center-block text-center img-rounded pdh25">创建军团</a>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            var d_box=$('.d-lBox');
            $('.d-btn').click(function(){
                var list=$(this).parents('.d-lBox').find('.d-list');
                list.slideToggle('fast');
                if($(this).is('.dropup')){
                    $(this).removeClass('dropup');
                }else{
                    $(this).addClass('dropup');
                }
            })
        });
    </script>
</body>
</html>