<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/javascript/common/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/swiper/swiper.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
<div class="page">
    <div class="container-fluid">
        <div class="row weui-cells mgh20">
            <a href="" class="weui-cell">
                <div class="weui-cell__bd fs24">
                    <img src="../../Public/images/icon_user.png" style="width:0.583rem;"/> &nbsp;选择客户地址
                </div>
                <div class="weui-cell__ft"><img src="../../Public/images/ico_in.png" style="width:0.416rem;"></div>
            </a>
        </div>
        <div class="row weui-cells nmt">
            <a href="" class="weui-cell pdh20">
                <div class="weui-cell__bd fs24">
                    <img src="../../Public/images/shop_ico_store.png" style="width:0.625rem;"/> &nbsp;&nbsp;千县农汇
                </div>
                <div class="weui-cell__ft"><img src="../../Public/images/ico_in.png" style="width:0.416rem;"></div>
            </a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left mgw20 nml">
                    <img src="../../Public/images/shop_img2.png" alt="" style="width:4.583rem" data-size="220*220">
                </div>
                <div class="pdh10">
                    <p class="fs26 bold ellipsis-2">产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名产品名</p>
                    <p class="mgh15 text-muted fs24">款式：5斤辣鸡果</p>
                    <p class="text-color fs28">￥999.99 <font class="pull-right text-muted">X1</font></p>
                </div>
            </div>
        </div>
        <div class="row weui-cells nmt fs24">
            <div class="weui-cell pdh30">
                <div class="weui-cell__bd">配送方式</div>
                <div class="weui-cell__ft">快递免运费</div>
            </div>
            <div class="weui-cell pdh30">
                <div class="weui-cell__hd">买家留言：</div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="" value="" placeholder="可填写与店家协商一致的要求">
                </div>
            </div>
            <div class="weui-cell pdh30">
                <div class="weui-cell__bd"></div>
                <div class="weui-cell__hd">共 1 件商品 &nbsp;合计：<font class="text-color">￥999.99</font></div>
            </div>
        </div>
        <div class="height100"></div>
        <div class="maxWidth navbar-fixed-bottom fs28">
            <div class="col-xs-8 pdh30 bg-white text-right">合计：<font class="text-e44a62">￥999.99</font></div>
            <a href="" class="col-xs-4 pdh30 bg-color text-center btn-21a2fe">付款</a>
        </div>
    </div>
</div>
</body>

</html>
