<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page bg-white">
        <div class="container-fluid pdh30 pdb150">
            <div class="col-xs-12 pd0 text-center ca-sel">
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-1.png');"></span>
                    </div>
                    <p class="fs24 pdh10">时尚女装</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-2.png');"></span>
                    </div>
                    <p class="fs24 pdh10">魅力男装</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-3.png');"></span>
                    </div>
                    <p class="fs24 pdh10">流行女鞋</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-4.png');"></span>
                    </div>
                    <p class="fs24 pdh10">舒适男鞋</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-5.png');"></span>
                    </div>
                    <p class="fs24 pdh10">个护家清</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-6.png');"></span>
                    </div>
                    <p class="fs24 pdh10">时尚女装</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-7.png');"></span>
                    </div>
                    <p class="fs24 pdh10">电子数码</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-8.png');"></span>
                    </div>
                    <p class="fs24 pdh10">家纺家居</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-9.png');"></span>
                    </div>
                    <p class="fs24 pdh10">运动户外</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-10.png');"></span>
                    </div>
                    <p class="fs24 pdh10">精品美妆</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-11.png');"></span>
                    </div>
                    <p class="fs24 pdh10">母婴玩具</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-12.png');"></span>
                    </div>
                    <p class="fs24 pdh10">舒适内衣</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-13.png');"></span>
                    </div>
                    <p class="fs24 pdh10">精致箱包</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-14.png');"></span>
                    </div>
                    <p class="fs24 pdh10">手表首饰</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-15.png');"></span>
                    </div>
                    <p class="fs24 pdh10">居家百货</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-16.png');"></span>
                    </div>
                    <p class="fs24 pdh10">营养保健</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-17.png');"></span>
                    </div>
                    <p class="fs24 pdh10">车品旅行</p>
                </a>
                <a class="col-xs-3 mgh5 re" href="javascript:;">
                    <div class="img-circle bg-ededed overhide" style="margin:0 auto;">
                        <span class="center-block mgt20" style="background-image: url('../../Public/images/ca-ico-18.png');"></span>
                    </div>
                    <p class="fs24 pdh10">其他分类</p>
                </a>
            </div>
        </div>

        <div class="navbar-fixed-bottom maxWidth bg-white pdh30">
            <div class="col-xs-12 text-center">
                <a href="#" class="btn-21a2fe btn border-radius pdw100 pdh25 fs32">选好了,去创建</a>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('.ca-sel a').on('click',function(){
                $('.ca-sel a').find('div').removeClass('bg-3c8fff ca-active').addClass('bg-ededed');
                $(this).find('div').addClass('ca-active bg-3c8fff').removeClass('bg-ededed');
            })
        })
    </script>
</body>
</html>