<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/javascript/common/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/swiper/swiper.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
    <div class="page">
        <!--addWrap -->
        <div class="addWrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../Public/images/Carousel.png" style="width:100%; height:5.416rem"></div>
                    <div class="swiper-slide"><img src="../../Public/images/Carousel.png" style="width:100%; height:5.416rem"></div>
                    <div class="swiper-slide"><img src="../../Public/images/Carousel.png" style="width:100%; height:5.416rem"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--/addWrap-->
        <div class="container-fluid">
            <div class="row weui-cells nmt">
                <a href="#" class="weui-cell pdh30">
                    <div class="pull-left">
                        <img src="../../Public/images/shop_img2.png" class="img-circle" style="width:2.75rem">
                    </div>
                    <div class="pull-left npr pdl5 fs24" style="height:2.616rem;width:10rem;">
                        <p class="fs32 bold text-333333">天下果园生鲜军团</p>
                        <p class="text-999999 pdh10">
                            团号：<span class="pdr10">100860</span>
                            成员：<span class="pdr10">239</span>
                            话题：<span class="pdr10">28</span>
                        </p>
                        <p class="ellipsis">一群正能量的创业伙伴，一个温馨的团队..</p>
                    </div>
                    <div class="pull-left" style="height:2.916rem;width:2.812rem">
                        <p class="text-right pdh40">
                            <img src="../../Public/images/ico_in.png" style="width:0.416rem" alt="">
                        </p>
                    </div>
                </a>
                <a href="#" class="weui-cell pdh30">
                    <div class="pull-left">
                        <img src="../../Public/images/shop_img2.png" class="img-circle" style="width:2.75rem">
                    </div>
                    <div class="pull-left npr pdl5 fs24" style="height:2.616rem;width:10rem;">
                        <p class="fs32 bold text-333333">天下果园生鲜军团</p>
                        <p class="text-999999 pdh10">
                            团号：<span class="pdr10">100860</span>
                            成员：<span class="pdr10">239</span>
                            话题：<span class="pdr10">28</span>
                        </p>
                        <p class="ellipsis">一群正能量的创业伙伴，一个温馨的团队..</p>
                    </div>
                    <div class="pull-left" style="height:2.916rem;width:2.812rem">
                        <p class="text-right pdh40">
                            <img src="../../Public/images/ico_in.png" style="width:0.416rem" alt="">
                        </p>
                    </div>
                </a>
                <a href="#" class="weui-cell pdh30">
                    <div class="pull-left">
                        <img src="../../Public/images/shop_img2.png" class="img-circle" style="width:2.75rem">
                    </div>
                    <div class="pull-left npr pdl5 fs24" style="height:2.616rem;width:10rem;">
                        <p class="fs32 bold text-333333">天下果园生鲜军团</p>
                        <p class="text-999999 pdh10">
                            团号：<span class="pdr10">100860</span>
                            成员：<span class="pdr10">239</span>
                            话题：<span class="pdr10">28</span>
                        </p>
                        <p class="ellipsis">一群正能量的创业伙伴，一个温馨的团队..</p>
                    </div>
                    <div class="pull-left" style="height:2.916rem;width:2.812rem">
                        <p class="text-right pdh40">
                            <img src="../../Public/images/ico_in.png" style="width:0.416rem" alt="">
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script>
        // 轮播
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });
    </script>
</body>
</html>