<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/javascript/common/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/swiper/swiper.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
<div class="page">
    <div class="container-fluid">

        <div class="row mgt20 pdh15 fs28 text-333333 text-center bg-white border-b border-w2 shop-tabBtn">
            <a href="#all" class="col-xs-6 text-color active" data-toggle="tab">默认排序</a>
            <a href="#rank" class="col-xs-6" data-toggle="tab">销售优先</a>
        </div>
        <div class="tab-content">
            <!-- 全部商品 -->
            <div role="tabpanel" class="tab-pane fade in active" id="all">
                <!-- 商品列表 -->
                <div id="p-l" class="row weui-cells nmt re">
                    <a href="javascript:;" class="weui-cell" data-href="申请加入军团.html">
                        <div class="weui-cell__hd mgr20">
                            <img src="../../Public/images/shop_img2.png" alt="" style="width:4.666rem">
                        </div>
                        <div class="weui-cell__bd lh1 text-999999">
                            <p class="fs28 ellipsis-2 text-333333">新鲜水果桃子湖北枣阳 大红桃五月红油桃水蜜桃5斤装包邮现货</p>
                            <p class="mgt25 mgb40 fs24 ellipsis">已售：3220</p>
                            <p class="fs24">
                                <span class="text-e44a62 fs48">¥72.00</span>
                                <del>¥ 120:00</del>
                                <img src="../../Public/images/ico_share.png" class="pull-right mgt20 mgl50" style="width:0.812rem;">
                                <img src="../../Public/images/ico_cart.png" class="pull-right mgt20" style="width:0.812rem;">
                            </p>
                        </div>
                    </a>
                    <a href="javascript:;" class="weui-cell" data-href="申请加入军团.html">
                        <div class="weui-cell__hd mgr20">
                            <img src="../../Public/images/shop_img2.png" alt="" style="width:4.666rem">
                        </div>
                        <div class="weui-cell__bd lh1 text-999999">
                            <p class="fs28 ellipsis-2 text-333333">新鲜水果桃子湖北枣阳 大红桃五月红油桃水蜜桃5斤装包邮现货</p>
                            <p class="mgt25 mgb40 fs24 ellipsis">已售：3220</p>
                            <p class="fs24">
                                <span class="text-e44a62 fs48">¥72.00</span>
                                <del>¥ 120:00</del>
                                <img src="../../Public/images/ico_share.png" class="pull-right mgt20 mgl50" style="width:0.812rem;">
                                <img src="../../Public/images/ico_cart.png" class="pull-right mgt20" style="width:0.812rem;">
                            </p>
                        </div>
                    </a>
                    <a href="javascript:;" class="weui-cell" data-href="申请加入军团.html">
                        <div class="weui-cell__hd mgr20">
                            <img src="../../Public/images/shop_img2.png" alt="" style="width:4.666rem">
                        </div>
                        <div class="weui-cell__bd lh1 text-999999">
                            <p class="fs28 ellipsis-2 text-333333">新鲜水果桃子湖北枣阳 大红桃五月红油桃水蜜桃5斤装包邮现货</p>
                            <p class="mgt25 mgb40 fs24 ellipsis">已售：3220</p>
                            <p class="fs24">
                                <span class="text-e44a62 fs48">¥72.00</span>
                                <del>¥ 120:00</del>
                                <img src="../../Public/images/ico_share.png" class="pull-right mgt20 mgl50" style="width:0.812rem;">
                                <img src="../../Public/images/ico_cart.png" class="pull-right mgt20" style="width:0.812rem;">
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 商家介绍 -->
            <div role="tabpanel" class="tab-pane fade" id="rank">
                <div class="row weui-cells nmt re">
                    <a href="javascript:;" class="weui-cell" data-href="申请加入军团.html">
                        <div class="weui-cell__hd mgr20">
                            <img src="../../Public/images/shop_img2.png" alt="" style="width:4.666rem">
                        </div>
                        <div class="weui-cell__bd lh1 text-999999">
                            <p class="fs28 ellipsis-2 text-333333">新鲜水果桃子湖北枣阳 大红桃五月红油桃水蜜桃5斤装包邮现货</p>
                            <p class="mgt25 mgb40 fs24 ellipsis">已售：3220</p>
                            <p class="fs24">
                                <span class="text-e44a62 fs48">¥72.00</span>
                                <del>¥ 120:00</del>
                                <img src="../../Public/images/ico_share.png" class="pull-right mgt20 mgl50" style="width:0.812rem;">
                                <img src="../../Public/images/ico_cart.png" class="pull-right mgt20" style="width:0.812rem;">
                            </p>
                        </div>
                    </a>
                    <a href="javascript:;" class="weui-cell" data-href="申请加入军团.html">
                        <div class="weui-cell__hd mgr20">
                            <img src="../../Public/images/shop_img2.png" alt="" style="width:4.666rem">
                        </div>
                        <div class="weui-cell__bd lh1 text-999999">
                            <p class="fs28 ellipsis-2 text-333333">新鲜水果桃子湖北枣阳 大红桃五月红油桃水蜜桃5斤装包邮现货</p>
                            <p class="mgt25 mgb40 fs24 ellipsis">已售：3220</p>
                            <p class="fs24">
                                <span class="text-e44a62 fs48">¥72.00</span>
                                <del>¥ 120:00</del>
                                <img src="../../Public/images/ico_share.png" class="pull-right mgt20 mgl50" style="width:0.812rem;">
                                <img src="../../Public/images/ico_cart.png" class="pull-right mgt20" style="width:0.812rem;">
                            </p>
                        </div>
                    </a>
                    <a href="javascript:;" class="weui-cell" data-href="申请加入军团.html">
                        <div class="weui-cell__hd mgr20">
                            <img src="../../Public/images/shop_img2.png" alt="" style="width:4.666rem">
                        </div>
                        <div class="weui-cell__bd lh1 text-999999">
                            <p class="fs28 ellipsis-2 text-333333">新鲜水果桃子湖北枣阳 大红桃五月红油桃水蜜桃5斤装包邮现货</p>
                            <p class="mgt25 mgb40 fs24 ellipsis">已售：3220</p>
                            <p class="fs24">
                                <span class="text-e44a62 fs48">¥72.00</span>
                                <del>¥ 120:00</del>
                                <img src="../../Public/images/ico_share.png" class="pull-right mgt20 mgl50" style="width:0.812rem;">
                                <img src="../../Public/images/ico_cart.png" class="pull-right mgt20" style="width:0.812rem;">
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="maskBox" class="container-fluid" style="display: none;">
        <div class="mask"></div>
        <div class="row text-center bg-white abs t-50 l-50 img-rounded overhide" style="width:11.041rem;margin:-4rem 0 0 -5.2rem; z-index: 9999;">
            <img src="../../Public/images/ico_na.png" class="img-circle bg-21a2fe mgh30 mgb20" style="width:1.208rem;">
            <p class="fs32 mgh10">该优惠为军团内团员专享</p>
            <p class="fs32 mgh10">您可以先申请为军团团员</p>
            <div class="height20"></div>
            <a href="" id="m-href"><p class="pdh20 fs32 btn-21a2fe">申请加入军团</p></a>
        </div>
    </div>
</div>

<script>
    $(function () {
        var oMaskBox=$('#maskBox'),
                oMask=$('.mask'),
                oHref=$('#m-href');
        $('.weui-cell').on('click',function(){
            oHref.prop('href',$(this).data('href'));
            oMaskBox.fadeIn('fast');
            oMask.show();
        });
        $('body').on('click','.mask',function(){
            oMaskBox.fadeOut('fast');
            oMask.hide();
        })
    })
</script>
</body>
</html>