<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/javascript/common/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/swiper/swiper.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
<div class="page">
    <div class="container-fluid mgt20 bg-white">
        <div class="row border-b">
            <div class="col-xs-12 pdh20">
                <img class="pull-left mgr15 img-circle" src="../../Public/images/shop_img2.png" style="width:2.708rem;height:2.708rem;"/>
                <div class="re">
                    <p class="fs32 bold">天下果园水果军团</p>
                    <p class="pdh5">
                        成员：<span class="pdr25">128</span>
                        话题：<span>12</span>
                    </p>
                    <p class="fs24 npb text-muted ellipsis">一群正能量的创业伙伴，一个温馨的团队</p>
                    <a href="#" class="btn-21a2fe pd10 abs r-0 t-0 img-rounded">查看商品</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <textarea class="no-border w-100 pd10 mgh20" placeholder="申请加入贵团队希望团队管理能够给予通过" style="height:8.02rem;"></textarea>
            </div>
        </div>

        <div class="row bg-eeefef">
            <div class="col-xs-12 mgh30">
                <a href="#" class="btn btn-21a2fe fs36 pdh25 text-center center-block">发送</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>