<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Title</title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
<div class="page">
    <div class="container-fluid">
        <div class="row mgt20 bg-white shopCar-li">
            <div class="col-xs-12">
                <div class="input-switch pull-left mgt25">
                    <input class="s-l-tBtn" type="checkbox"/>
                </div>
                <div class="s-l-title row pdh20 border-b">
                    <a href="#">
                        <img src="../../Public/images/shop_ico_store.png" class="mgr20 mgl5" style="width:0.75rem;"/>
                        老赵水果直营店
                        <img src="../../Public/images/ico_in.png" class="mgw15 ver-textbottom" style="width:0.27rem;"/>
                    </a>
                    <span class="s-l-edit pull-right fs28 pdr25">编辑</span>
                </div>
            </div>
            <div class="col-xs-12 re">
                <div class="input-switch pull-left mgt80">
                    <input class="s-t-cBtn" type="checkbox"/>
                </div>
                <div class="row mgt20 pdr25 border-b s-l-con">
                    <img src="../../Public/images/shop_img2.png" class="mgr20 mgl5 pull-left" style="width:3.333rem;"/>
                    <div class="fs32">
                        <p class="ellipsis-2 fs28 text-333333">新鲜水果台湾凤梨释迦果番荔枝佛头果精选5斤包装....</p>
                        <p class="mgh10 fs24">规格:精品5斤装 8-9个</p>
                        <p class="mgh10"><span class="text-e44a62">¥29.90</span><span class="pull-right text-999999">x1</span></p>
                        <div class="pdh5 pull-left bg-eeefef mgh30 text-center shop-Carnum">
                            <p class="pull-left border-r border-white">-</p>
                            <input type="text" class="no-border bg-eeefef text-center" value="1">
                            <p class="pull-right border-l border-white">+</p>
                        </div>
                    </div>
                    <a href="#" class="abs r-0 t-0 btn-21a2fe center-block border-b">删除</a>
                </div>
            </div>
            <div class="col-xs-12 re">
                <div class="input-switch pull-left mgt80">
                    <input class="s-t-cBtn" type="checkbox"/>
                </div>
                <div class="row mgt20 pdr25 border-b s-l-con">
                    <img src="../../Public/images/shop_img2.png" class="mgr20 mgl5 pull-left" style="width:3.333rem;"/>
                    <div class="fs32">
                        <p class="ellipsis-2 fs28 text-333333">新鲜水果台湾凤梨释迦果番荔枝佛头果精选5斤包装....</p>
                        <p class="mgh10 fs24">规格:精品5斤装 8-9个</p>
                        <p class="mgh10"><span class="text-e44a62">¥29.90</span><span class="pull-right text-999999">x1</span></p>
                        <div class="pdh5 pull-left bg-eeefef mgh30 text-center shop-Carnum">
                            <p class="pull-left border-r border-white">-</p>
                            <input type="text" class="no-border bg-eeefef text-center" value="1">
                            <p class="pull-right border-l border-white">+</p>
                        </div>
                    </div>
                    <a href="#" class="abs r-0 t-0 btn-21a2fe center-block border-b">删除</a>
                </div>
            </div>
        </div>
        <div class="row mgt20 bg-white shopCar-li">
            <div class="col-xs-12">
                <div class="input-switch pull-left mgt25">
                    <input class="s-l-tBtn" type="checkbox"/>
                </div>
                <div class="s-l-title row pdh20 border-b">
                    <a href="#">
                        <img src="../../Public/images/shop_ico_store.png" class="mgr20 mgl5" style="width:0.75rem;"/>
                        老赵水果直营店
                        <img src="../../Public/images/ico_in.png" class="mgw15 ver-textbottom" style="width:0.27rem;"/>
                    </a>
                    <span class="s-l-edit pull-right fs28 pdr25">编辑</span>
                </div>
            </div>
            <div class="col-xs-12 re">
                <div class="input-switch pull-left mgt80">
                    <input class="s-t-cBtn" type="checkbox"/>
                </div>
                <div class="row mgt20 pdr25 border-b s-l-con">
                    <img src="../../Public/images/shop_img2.png" class="mgr20 mgl5 pull-left" style="width:3.333rem;"/>
                    <div class="fs32">
                        <p class="ellipsis-2 fs28 text-333333">新鲜水果台湾凤梨释迦果番荔枝佛头果精选5斤包装....</p>
                        <p class="mgh10 fs24">规格:精品5斤装 8-9个</p>
                        <p class="mgh10"><span class="text-e44a62">¥29.90</span><span class="pull-right text-999999">x1</span></p>
                        <div class="pdh5 pull-left bg-eeefef mgh30 text-center shop-Carnum">
                            <p class="pull-left border-r border-white">-</p>
                            <input type="text" class="no-border bg-eeefef text-center" value="1">
                            <p class="pull-right border-l border-white">+</p>
                        </div>
                    </div>
                    <a href="#" class="abs r-0 t-0 btn-21a2fe center-block border-b">删除</a>
                </div>
            </div>
            <div class="col-xs-12 re">
                <div class="input-switch pull-left mgt80">
                    <input class="s-t-cBtn" type="checkbox"/>
                </div>
                <div class="row mgt20 pdr25 border-b s-l-con">
                    <img src="../../Public/images/shop_img2.png" class="mgr20 mgl5 pull-left" style="width:3.333rem;"/>
                    <div class="fs32">
                        <p class="ellipsis-2 fs28 text-333333">新鲜水果台湾凤梨释迦果番荔枝佛头果精选5斤包装....</p>
                        <p class="mgh10 fs24">规格:精品5斤装 8-9个</p>
                        <p class="mgh10"><span class="text-e44a62">¥29.90</span><span class="pull-right text-999999">x1</span></p>
                        <div class="pdh5 pull-left bg-eeefef mgh30 text-center shop-Carnum">
                            <p class="pull-left border-r border-white">-</p>
                            <input type="text" class="no-border bg-eeefef text-center" value="1">
                            <p class="pull-right border-l border-white">+</p>
                        </div>
                    </div>
                    <a href="#" class="abs r-0 t-0 btn-21a2fe center-block border-b">删除</a>
                </div>
            </div>
        </div>
    </div>
    <div class="maxWidth container-fluid footer-nav navbar-fixed-bottom bg-white pdr0">
        <div class="pull-left text-right col-xs-9 pdh5 pdl0 fs32">
            <div class="pull-left pdt25">
                <div class="input-switch pull-left mgt5 mgr10">
                    <input type="checkbox" id="all-sel"/>
                </div>
                <label for="all-sel" class="nw fs28">全选</label>
            </div>
            <p>共计0件</p>
            <p>总价：<span class="text-e44a62">¥00.00</span></p>
        </div>
        <a href="#" class="center-block pull-right pdh30 btn-21a2fe col-xs-3 text-center fs36">结算</a>
    </div>
</div>
<script>
    $(function(){
        var oIswitch=$('.input-switch');
        //显示编辑
        $('.s-l-edit').on('click',function(){
            var parent=$(this).parents('.shopCar-li');
            if(!parent.is('.s-l-active')){
                parent.addClass('s-l-active');
                $(this).text('完成');
            }else{
                parent.removeClass('s-l-active');
                $(this).text('编辑');
            }
        });

        //店铺全选按钮
        $('body').on('click','.s-l-tBtn',function(){
            var input=$(this).parents('.shopCar-li').find('.s-t-cBtn');
            if($(this).prop('checked')){
                input.prop('checked',true);
            }else{
                input.prop('checked',false);
            }
        });

        //全选按钮
        $('#all-sel').on('click',function(){
            var input=oIswitch.find('input');
            if($(this).prop('checked')){
                input.prop('checked',true);
            }else{
                input.prop('checked',false);
            }
        })

    })
</script>
</body>
</html>