<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../../Public/style/common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/style/common/weui.min.css">
    <link rel="stylesheet" href="../../Public/style/common/jquery-weui.css">
    <link rel="stylesheet" href="../../Public/javascript/layer/skin/layer.css">
    <link rel="stylesheet" href="../../Public/style/common/common.css">
    <link rel="stylesheet" href="../../Public/style/main.css">
    <script src="../../Public/javascript/common/jquery-3.1.1.min.js"></script>
    <script src="../../Public/javascript/common/bootstrap.min.js"></script>
    <script src="../../Public/javascript/common/jquery-weui.min.js"></script>
    <script src="../../Public/javascript/common/iscroll.js"></script>
    <script src="../../Public/javascript/layer/layer.js"></script>
    <script src="../../Public/javascript/common/common.js"></script>
</head>
<body>
<div class="page">
    <div class="container-fluid">
        <div class="row">
            <div class="height20"></div>
            <div class="col-xs-12 pdw36">
                <div class="bg-white pdh10 img-rounded re" style="border:solid 0.04rem #eeeeee;">
                    <input class="weui-input fs24 pdw10" type="text" name="" value="" placeholder="输入收货人姓名、手机号搜索">
                    <a href=""><img src="../../Public/images/icon_btn_search.png" alt="" class="abs" style="width:0.729rem;right:0.23333333rem;top:0.23333333rem"></a>
                </div>
            </div>
        </div>
        <!-- 收货人列表 -->
        <div class="row">
            <div class="col-xs-12 mgh20 nmb fs32">A</div>
        </div>
        <div class="row mgh20 add-listBox weui-cells fs24">
            <div class="re">
                <div class="add-box abs abs1">
                    <div class="pull-left overhide">
                        <div class="weui-cell pdh20 border-b fs24">
                            <div class="weui-cell__hd sel abs">
                                <label class="qx-checkbox__label re-customerBtn" for="s1">
                                    <input class="qx-checkbox" type="checkbox" name="id[]" value="14" id="s1">
                                    <span class="qx-icon-checked"></span>
                                </label>
                            </div>
                            <div class="mgw40 mgr20">
                                <img class="img-circle" src="../../Public/images/shop_img2.png" alt="" style="width:1.208rem" data-size="58*58">
                            </div>
                            <div class="weui-cell__hd">
                                <div class="weui-label ellipsis ">阿一</div>
                            </div>
                            <div class="weui-cell__hd abs address">15394536241</div>
                        </div>
                        <div class="col-xs-12 pdh20 pdl60 fs24">
                            <p class="ellipsis pull-left" style="width:85%;">上海市静安区天目西路1086号</p>
                            <a href="#" class="pull-right"><img src="../../Public/images/ico_revise.png" style="width:0.583rem;"/></a>
                        </div>
                    </div>
                    <a href="javascript:;" class="pull-left del btn-21a2fe fs24">删除</a>
                </div>
            </div>
            <div class="re">
                <div class="add-box abs abs1">
                    <div class="pull-left overhide">
                        <div class="weui-cell pdh20 border-b fs24">
                            <div class="weui-cell__hd sel abs">
                                <label class="qx-checkbox__label re-customerBtn" for="s2">
                                    <input class="qx-checkbox" type="checkbox" name="id[]" value="14" id="s2">
                                    <span class="qx-icon-checked"></span>
                                </label>
                            </div>
                            <div class="mgw40 mgr20">
                                <img class="img-circle" src="../../Public/images/shop_img2.png" alt="" style="width:1.208rem" data-size="58*58">
                            </div>
                            <div class="weui-cell__hd">
                                <div class="weui-label ellipsis ">阿一</div>
                            </div>
                            <div class="weui-cell__hd abs address">15394536241</div>
                        </div>
                        <div class="col-xs-12 pdh20 pdl60 fs24">
                            <p class="ellipsis pull-left" style="width:85%;">上海市静安区天目西路1086号</p>
                            <a href="#" class="pull-right"><img src="../../Public/images/ico_revise.png" style="width:0.583rem;"/></a>
                        </div>
                    </div>
                    <a href="javascript:;" class="pull-left del btn-21a2fe fs24">删除</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mgh20 nmb fs32">B</div>
        </div>
        <div class="row mgh20 add-listBox weui-cells fs24">
            <div class="re">
                <div class="add-box abs abs1">
                    <div class="pull-left overhide">
                        <div class="weui-cell pdh20 border-b fs24">
                            <div class="weui-cell__hd sel abs">
                                <label class="qx-checkbox__label re-customerBtn" for="s3">
                                    <input class="qx-checkbox" type="checkbox" name="id[]" value="14" id="s3">
                                    <span class="qx-icon-checked"></span>
                                </label>
                            </div>
                            <div class="mgw40 mgr20">
                                <img class="img-circle" src="../../Public/images/shop_img2.png" alt="" style="width:1.208rem" data-size="58*58">
                            </div>
                            <div class="weui-cell__hd">
                                <div class="weui-label ellipsis ">阿一</div>
                            </div>
                            <div class="weui-cell__hd abs address">15394536241</div>
                        </div>
                        <div class="col-xs-12 pdh20 pdl60 fs24">
                            <p class="ellipsis pull-left" style="width:85%;">上海市静安区天目西路1086号</p>
                            <a href="#" class="pull-right"><img src="../../Public/images/ico_revise.png" style="width:0.583rem;"/></a>
                        </div>
                    </div>
                    <a href="javascript:;" class="pull-left del btn-21a2fe fs24">删除</a>
                </div>
            </div>
            <div class="re">
                <div class="add-box abs abs1">
                    <div class="pull-left overhide">
                        <div class="weui-cell pdh20 border-b fs24">
                            <div class="weui-cell__hd sel abs">
                                <label class="qx-checkbox__label re-customerBtn" for="s4">
                                    <input class="qx-checkbox" type="checkbox" name="id[]" value="14" id="s4">
                                    <span class="qx-icon-checked"></span>
                                </label>
                            </div>
                            <div class="mgw40 mgr20">
                                <img class="img-circle" src="../../Public/images/shop_img2.png" alt="" style="width:1.208rem" data-size="58*58">
                            </div>
                            <div class="weui-cell__hd">
                                <div class="weui-label ellipsis ">阿一</div>
                            </div>
                            <div class="weui-cell__hd abs address">15394536241</div>
                        </div>
                        <div class="col-xs-12 pdh20 pdl60 fs24">
                            <p class="ellipsis pull-left" style="width:85%;">上海市静安区天目西路1086号</p>
                            <a href="#" class="pull-right"><img src="../../Public/images/ico_revise.png" style="width:0.583rem;"/></a>
                        </div>
                    </div>
                    <a href="javascript:;" class="pull-left del btn-21a2fe fs24">删除</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mgh20 nmb fs32">A</div>
        </div>
        <div class="row mgh20 add-listBox weui-cells fs24">
            <div class="re">
                <div class="add-box abs abs1">
                    <div class="pull-left overhide">
                        <div class="weui-cell pdh20 border-b fs24">
                            <div class="weui-cell__hd sel abs">
                                <label class="qx-checkbox__label re-customerBtn" for="s5">
                                    <input class="qx-checkbox" type="checkbox" name="id[]" value="14" id="s5">
                                    <span class="qx-icon-checked"></span>
                                </label>
                            </div>
                            <div class="mgw40 mgr20">
                                <img class="img-circle" src="../../Public/images/shop_img2.png" alt="" style="width:1.208rem" data-size="58*58">
                            </div>
                            <div class="weui-cell__hd">
                                <div class="weui-label ellipsis ">阿一</div>
                            </div>
                            <div class="weui-cell__hd abs address">15394536241</div>
                        </div>
                        <div class="col-xs-12 pdh20 pdl60 fs24">
                            <p class="ellipsis pull-left" style="width:85%;">上海市静安区天目西路1086号</p>
                            <a href="#" class="pull-right"><img src="../../Public/images/ico_revise.png" style="width:0.583rem;"/></a>
                        </div>
                    </div>
                    <a href="javascript:;" class="pull-left del btn-21a2fe fs24">删除</a>
                </div>
            </div>
            <div class="re">
                <div class="add-box abs abs1">
                    <div class="pull-left overhide">
                        <div class="weui-cell pdh20 border-b fs24">
                            <div class="weui-cell__hd sel abs">
                                <label class="qx-checkbox__label re-customerBtn" for="s6">
                                    <input class="qx-checkbox" type="checkbox" name="id[]" value="14" id="s6">
                                    <span class="qx-icon-checked"></span>
                                </label>
                            </div>
                            <div class="mgw40 mgr20">
                                <img class="img-circle" src="../../Public/images/shop_img2.png" alt="" style="width:1.208rem" data-size="58*58">
                            </div>
                            <div class="weui-cell__hd">
                                <div class="weui-label ellipsis ">阿一</div>
                            </div>
                            <div class="weui-cell__hd abs address">15394536241</div>
                        </div>
                        <div class="col-xs-12 pdh20 pdl60 fs24">
                            <p class="ellipsis pull-left" style="width:85%;">上海市静安区天目西路1086号</p>
                            <a href="#" class="pull-right"><img src="../../Public/images/ico_revise.png" style="width:0.583rem;"/></a>
                        </div>
                    </div>
                    <a href="javascript:;" class="pull-left del btn-21a2fe fs24">删除</a>
                </div>
            </div>
        </div>


        <div class="height150"></div>
        <div class="row navbar-fixed-bottom maxWidth">
            <a href="" class="col-xs-6 pdh30 text-center fs36 lh1 bg-fafafa text-color">新增客户地址</a>
            <a href="" class="col-xs-6 pdh30 text-center fs36 lh1 btn-21a2fe">确定</a>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function(){
        //滑动出现删除
        $('.weui-cells>.re').each(function(index, el) {
            new IScroll(el, {
                eventPassthrough: true,
                scrollX: true,
                scrollY: false,
                snap: true
            });
        });

        var sel=$('.qx-checkbox__label'),
            body=$('body');

        //单选地址
        body.on('click','.qx-checkbox__label',function(){
            sel.find('input').prop('checked',false);
            $(this).find('input').prop('checked',true);
        });

        body.on('click','.add-box >a',function(){
            var parentBox=$(this).parents('.add-listBox');
                That=$(this).parents('.re');

            //删除
            layer.msg('您确定要删除地址吗？', {
                time: 0 //不自动关闭
                ,btn: ['确定', '取消']
                ,yes: function(index){
                    That.remove();
                    layer.close(index);
                    layer.msg('删除成功');
                    if(parentBox.find('>div').length ===0){
                        parentBox.prev().remove();
                    }
                }
            });
        })
    })
</script>
</body>

</html>
